<?xml version='1.0' encoding='windows-1252'?>
<!--
  WiX configuration for AAEQ Windows MSI installer
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
    Id='*'
    Name='AAEQ - Adaptive Audio Equalizer'
    UpgradeCode='9A7B8C6D-5E4F-3A2B-1C0D-9E8F7A6B5C4D'
    Manufacturer='Jascha Wanger / Tarnover, LLC'
    Language='1033'
    Codepage='1252'
    Version='$(var.Version)'>

    <Package
      Id='*'
      Keywords='Installer'
      Description='AAEQ - Adaptive Audio Equalizer $(var.Version) Installer'
      Manufacturer='Jascha Wanger / Tarnover, LLC'
      InstallerVersion='450'
      Languages='1033'
      Compressed='yes'
      InstallScope='perMachine'
      SummaryCodepage='1252' />

    <MajorUpgrade
      Schedule='afterInstallInitialize'
      DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
    <Property Id='DiskPrompt' Value='AAEQ Installation' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='APPLICATIONFOLDER' Name='AAEQ'>
          <Component Id='MainExecutable' Guid='*'>
            <File
              Id='AaeqEXE'
              Name='aaeq.exe'
              DiskId='1'
              Source='$(var.CargoTargetBinDir)\aaeq.exe'
              KeyPath='yes'
              Checksum='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id='ProgramMenuFolder'>
        <Directory Id='ApplicationProgramsFolder' Name='AAEQ'>
          <Component Id='ApplicationShortcut' Guid='*'>
            <Shortcut
              Id='ApplicationStartMenuShortcut'
              Name='AAEQ'
              Description='Adaptive Audio Equalizer - Automatically apply per-song, album, or genre EQ presets'
              Target='[APPLICATIONFOLDER]aaeq.exe'
              WorkingDirectory='APPLICATIONFOLDER'
              Icon='ProductIcon' />
            <RemoveFolder Id='ApplicationProgramsFolder' On='uninstall' />
            <RegistryValue
              Root='HKCU'
              Key='Software\AAEQ'
              Name='installed'
              Type='integer'
              Value='1'
              KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id='DesktopFolder' Name='Desktop'>
        <Component Id='DesktopShortcut' Guid='*'>
          <Shortcut
            Id='ApplicationDesktopShortcut'
            Name='AAEQ'
            Description='Adaptive Audio Equalizer - Automatically apply per-song, album, or genre EQ presets'
            Target='[APPLICATIONFOLDER]aaeq.exe'
            WorkingDirectory='APPLICATIONFOLDER'
            Icon='ProductIcon' />
          <RemoveFolder Id='DesktopFolder' On='uninstall' />
          <RegistryValue
            Root='HKCU'
            Key='Software\AAEQ'
            Name='desktop_shortcut'
            Type='integer'
            Value='1'
            KeyPath='yes' />
        </Component>
      </Directory>
    </Directory>

    <Feature
      Id='MainApplication'
      Title='AAEQ Application'
      Description='Main AAEQ application and core functionality'
      Level='1'
      ConfigurableDirectory='APPLICATIONFOLDER'
      AllowAdvertise='no'
      Display='expand'
      Absent='disallow'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='ApplicationShortcut' />

      <Feature
        Id='DesktopShortcutFeature'
        Title='Desktop Shortcut'
        Description='Add a shortcut to the desktop'
        Level='1'
        AllowAdvertise='no'>
        <ComponentRef Id='DesktopShortcut' />
      </Feature>
    </Feature>

    <Icon Id='ProductIcon' SourceFile='aaeq-icon.ico' />
    <Property Id='ARPPRODUCTICON' Value='ProductIcon' />
    <Property Id='ARPHELPLINK' Value='https://github.com/jaschadub/AAEQ' />
    <Property Id='ARPURLINFOABOUT' Value='https://github.com/jaschadub/AAEQ' />

    <UI>
      <UIRef Id='WixUI_FeatureTree' />
      <Publish Dialog='ExitDialog'
        Control='Finish'
        Event='DoAction'
        Value='LaunchApplication'>WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <WixVariable Id='WixUILicenseRtf' Value='License.rtf'/>

    <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT' Value='Launch AAEQ' />
    <Property Id='WixShellExecTarget' Value='[#AaeqEXE]' />
    <CustomAction Id='LaunchApplication'
      BinaryKey='WixCA'
      DllEntry='WixShellExec'
      Impersonate='yes' />

  </Product>
</Wix>
